services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: qualificationdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - "8084:8084"
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: qualificationdb
      DB_USER: postgres
      DB_PASS: password
    depends_on:
      - postgres

volumes:
  postgres_data:
